section#section_blog{
	padding-left: 150px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

section#section_blog .articles a:hover:not(.modif){
	color: black;
}

#section_blog .articles, #section_blog .ajouter_article{
	text-align: center;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	margin-bottom: 20px;
}

#section_blog .ajouter_article{
	padding: 250px 0;
}

#section_blog .articles img{
	width: 460px;
	height: 340px;
	object-fit: cover;
}

img.deco{
	margin-top: 10px;
}

#section_blog h2.ajout{
	font-size: 32px;
}

#section_blog p, #section_blog h2{
	margin-bottom: 0;
}

#section_blog h2{
	font-size: 20px;
}

.publication{
	color: #778899;
	font-size: 14px;
}

.auteur{
	font-size: 14px;
}

.modif{
	margin-bottom: 5px;
}