section#section_contact{
	padding-left: 150px;
}

section #section_contact{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#formulaire{
	display: flex;
	flex-direction: column;
	width: 700px;
}

#formulaire input, #formulaire textarea, #formulaire select{
	margin-bottom: 30px;
}

#buttons{
	display: flex;
	justify-content: center;
}

#message_soumis{
	margin-bottom: 30px;
}
